body {
    background-color: palegoldenrod;
}

h1,
h3 {
    /*text-align: center;*/
    margin-left: 400px;
    color: red;
}

div {
    margin-left: 400px;
}

.box {
    width: 500px;
    height: auto;
    border: 2px solid black;
}

.image {
    align-self: center;
}

.description {
    align-items: center;
    border: 2px solid black;
    margin-right: 500px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    background-color: azure;
}

.ingredients {
    align-items: center;
    border: 2px solid black;
    margin-right: 500px;
    padding-right: 20px;
    text-align: left;
    background-color: azure;
}

.steps {
    align-items: center;
    border: 2px solid black;
    padding-right: 20px;
    margin-right: 500px;
    text-align: left;
    background-color: azure;
}

.wrapup {
    align-items: center;
    border: 2px solid black;
    margin-right: 500px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-top: 10px;
    background-color: azure;
}

.ingredients p {
    margin-left: 20px;
    color: blue;
}
