h1 {
    text-align: center;
    color: red;
}

div {
    margin-left: 400px;
}

.box {
    width: 500px;
    height: auto;
    border: 2px solid black;
}

* {
    background-color: aliceblue;
}
 
.image {
    align-self: center;
}
